@font-face {
    font-family: "Tilda Sans";
    src: url("/public/fonts/TildaSans-Medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }


:root {
	--osn: #00a6e3;
	--light: #f2f3f7;
	--d9d9d9: #c7e4ff;
	--gray-light: #dbe0e8;
	--gray-dark: #4b5667;
	--light-white: #f9faff;

    --font-family: "Tilda Sans", sans-serif;
}